.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    /* White */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease-in-out, visibility 0.8s;
}

.loader-container.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.loader-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo-text {
    font-family: var(--font-heading);
    font-size: 3rem;
    color: var(--color-text-main);
    /* Dark Navy */
    letter-spacing: 0px;
    opacity: 0;
    animation: fadeUpLogo 1s ease forwards 0.5s;
}

.progress-bar-container {
    width: 200px;
    height: 2px;
    background-color: rgba(19, 33, 50, 0.1);
    /* Light navy trace */
    position: relative;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: var(--color-accent);
    animation: loadProgress 2.5s ease-in-out forwards;
}

@keyframes fadeUpLogo {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loadProgress {
    0% {
        width: 0%;
    }

    50% {
        width: 40%;
    }

    100% {
        width: 100%;
    }
}